p {
    padding: 0;
    margin: 0;
  }
  
  @font-face {
    font-family: TT Lakes w05;
    src: url(../fonts/tt-lakes-neue-w05-regular.otf);
  }
  
  .containerTop {
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
  }
  
  .card {
    display: flex;
    border-radius: 24px;
    background: #222121;
    border: 3px solid #e94141;
    padding: 36px;
    width: 360px;
    height: 250px;
    margin: auto;
    padding-bottom: 56px;
    margin-top: 24px;
    margin-bottom: 30%;
  }
  
  .photo {
    width: 220px;
    height: 240px;
    padding-left: 24px;
  }
  
  
  #Legends {
    padding-top: 12px;
    margin-bottom: 12px;
    color: white;
    font-size: 48px;
    text-align: center;
    font-stretch: condensed;
    font-weight: 900;
    font-family: TT Lakes w05;
  }


  #char {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: TT Lakes w05;
  }
  
  #desc {
    color: grey;
    font-family: TT Lakes w05;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
  }
  