@font-face {
  font-family: TT Lakes w05;
  src: url(../fonts/tt-lakes-neue-w05-regular.otf);
}

p {
    padding: 0;
    margin: 0;
  }
  
  .containerTop {
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
  }

  
  #news {
    padding-top: 12px;
    margin-bottom: 12px;
    color: white;
    font-size: 48px;
    text-align: center;
    font-stretch: condensed;
    font-weight: 900;
    font-family: TT Lakes w05;
  }
  
  