    @font-face {
    font-family: TT Lakes w05;
    src: url(../fonts/tt-lakes-neue-w05-regular.otf);
  }
    
    .card {
    display: flex;
    margin: auto;
    width: 250px;
    height: 120px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
  }
  
  .spaceLegend {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-around;
  }

  .imglegend {
    display: flex;
    width: 260px;
    margin: auto;
    height: 286px;
  }
  
  

  